body {
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 10px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}
.btn-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.controller {
  background-color: orange;
  padding: 10px;
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control='slide'] li a {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-color: #fb5;
  border-radius: 50%;
  overflow: hidden;
  color: transparent;
  text-indent: -100px;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background-color: #e5a;
}

.custom-control {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.custom-control li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.custom-control li.active {
  opacity: 1;
  transform: scale(1);
}
